#HeaderComps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 10px 5vw;
}

#logo-img {
    height: 50px;
}

nav {
    display: flex;
    gap: 2vw;
}

.link {
    text-decoration-line: none;
    color: rgb(0 79 41);
    font-size: 1.2rem;
    font-weight: 300;
}

.link:hover {
    color: rgb(0 255 64);
}