#ProductDetailsPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#img_product {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
}

#img_product img {
    height: 200px;
}

.product_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.divPrice{
    border: 2px solid black;
    padding: 5px;
}


.btn_footer{
    display: flex;
    flex-direction: row;
}